.ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
    background: #E7D9B7;
}

.nested-deskirpsi{
    margin-top: -10px;
    font-weight: 400;
    font-size: 0.8rem;
}

.input-form {
    background-color: transparent;
    color: black;
}

.input-form:hover, .input-form:focus, .input-form:visited {
    border-color: #CDB06C;
}